* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e9f1f7;
}

header {
  padding: 20px 10px;
  background-color: #23253f;
}

footer {
  margin-top: auto;
  background-color: rgb(35, 37, 63);
}

.nav-link {
  background-color: #23253f;
  color: rgba(255, 255, 255, 0.815);
  border: 2px solid;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.815);
  color: #23253f;
}

.extraTheme1 {
  background-color: rgb(51, 137, 213);
}

.extraTheme1.nav-link {
  background-color: rgb(51, 137, 213);
}

.extraTheme1.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.815);
  color: rgb(51, 137, 213);
}

.extraTheme2 {
  background-color: rgb(210, 152, 35);
}

.extraTheme2.nav-link {
  background-color: rgb(210, 152, 35);
}

.extraTheme2.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.815);
  color: rgb(210, 152, 35);
}

.profilePicture {
  border-radius: 50%;
}

.commentA {
  background-color: #6c757d;
  padding: 5px;
  border-radius: 5px;
}

footer i,
footer span,
.user {
  color: rgba(255, 255, 255, 0.815);
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.815);
}

.customersCard {
  width: 190px;
}

.card {
  width: 330px;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
}

.textComments {
  width: 300px;
  height: 200px;
}
