* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #E9F1F7;
}

.header {
    background-color: #23253F;
    padding: 20px 10px;
}

.logo {
    display: none;
}

.nav-link {
    color: rgba(255, 255, 255, 0.815);
    background-color: #23253F;
    border: 2px solid;
}

.nav-link:hover {
    color: #23253F;
    background-color: rgba(255, 255, 255, 0.815);
}

.image {
    border-radius: 50%;
}

footer{
    margin-top: auto;
    background-color: rgb(35, 37, 63);
}

i, span, .user {
    color: rgba(255, 255, 255, 0.815);
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.815);
}

.customers {
    width: 190px;
}

.line {
    height: 5px;
}

.card {
    width: 330px;
}

.collapse:not(.show) {
    display: flex;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}

.spanR {
    margin: 0;
}

@media (min-width: 992px) {
    .logo {
        display: block;
    }
}