.header {
    background-color: rgb(35, 37, 63);
    margin: 0%;
}
.header h1 {
    margin-right: 3%;
    margin-left: 3%;
}
.header h1 a{
    text-decoration: none;
    color: white;
}
.logo {
    margin: 0%;
    padding: 0%;
}